<section>

    <div class="promotion bg-amber-300">
      <!-- <img src="/imgs/pro.jpg" class="w-full object-contain" alt=""> -->
    </div>
    <div class="grid grid-cols-12 h-[300px] bg-amber-200 ">
      <div class="md:col-span-12 col-span-12 ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide >
            <img src="/imgs/1.jpg" class="carousel-image" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="/imgs/2.jpg" class="carousel-image" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img src="/imgs/3.jpg" class="carousel-image" alt="">

          </ng-template>
          <ng-template carouselSlide>
            <img src="/imgs/4.jpg" class="carousel-image" alt="">

          </ng-template>
          <ng-template carouselSlide>
            <img src="/imgs/5.jpg" class="carousel-image" alt="">

          </ng-template>
        </owl-carousel-o>
      </div>
      <!-- <div class="md:col-span-4 col-span-12 h-full">
        <div>
          <img src="imgs/cat1.png" class="w-full h-[150px]" alt="">
        </div>
        <div>
          <img src="imgs/cat2.png" class="w-full h-[150px]" alt="">
        </div>
      </div> -->
    </div>
</section>
