<section class="py-10">
  <div class="container max-w-screen-xl mx-auto ">
    <div class="flex items-center justify-between">
      <h2 class="header">
        Explore our <span class="text-nav ms-1"> official brands</span>
      </h2>
      <button routerLink="/brands" type="button"
        class="view-all">View All</button>

    </div>



    <div class="grid gap-10 grid-cols-12">

      @for (b of brands; track b._id) {

      <div class="sm:cols-span-6 cursor-pointer md:col-span-4 col-span-12">
        <app-brand-card [brand]="b" />
      </div>
      }

    </div>
  </div>







</section>
