<nav class="bg-nav border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/imgs/noon-logo-en.svg" class="h-6" alt="freshCart Logo" />
    </a>
    
<form class="w-200">   
  <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input type="search" id="search" class="border-none focus:border-none focus:outline-none block w-full p-3 ps-10 text-sm text-gray-900 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="What are you looking for ?" required />
  </div>
</form>

    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">

      @if (isAuthenticated) {
      <ul
        class="nav-list bg-nav flex justify-content-start items-center space-x-6">
        <li>
          <a routerLink="/cart" class="nav-link text-gray-700 -tracking-[1px] cursor-pointer hover:text-gray-400 transition duration-300 ease-in-out text-base" aria-current="page">cart <i class="fa-solid fa-cart-shopping text-amber-500"></i></a>
        </li>
        <li>
          <span class="flex items-center gap-1 before:content-[''] before:w-[1px] before:bg-gray-400 before:inline-block before:h-[18px]"></span>
        </li>
        <li>
          <a routerLink="/wishlist" class="nav-link text-gray-700 -tracking-[1px] cursor-pointer hover:text-gray-400 transition duration-300 ease-in-out text-base">
            wishlist <i class="fa-regular fa-heart text-red-500"></i></a>
        </li>
        <li>
            <span class="flex items-center gap-1 before:content-[''] before:w-[1px] before:bg-gray-400 before:inline-block before:h-[18px]"></span>
          </li>
        <li>
          <div class="relative">
            <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer ring-3 ring-gray-50 dark:ring-gray-50" src="/imgs/people/profile-picture-5.jpg" alt="User dropdown">
            <span class="bottom-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
          </div>
          <!-- Dropdown menu -->
          <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
              <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                <div>Bonnie Green</div>
                <div class="font-medium truncate">email[at]domain.com</div>
              </div>
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Orders</a>
                </li>
              </ul>
              <div class="py-1">
                <a (click)="logout()" href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
              </div>
          </div>
        </li>
      </ul>
      }@else  {
      <ul
        class="nav-list bg-nav">
        <li>
          <!-- data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" -->
          <a class="nav-link text-gray-500 -tracking-[1px] cursor-pointer hover:text-gray-400 transition duration-300 ease-in-out text-base">
          العربية</a>
        </li>
        <li>
          <!-- data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" -->
          <a routerLink="/login" class="font-main-bold nav-link text-gray-700 -tracking-[1px] cursor-pointer hover:text-gray-400 transition duration-300 ease-in-out text-base">
            Login in<i class="fa-regular fa-user text-sm"></i></a>
        </li>
        <li>
          <!-- data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" -->
          <a routerLink="/register" class="font-main-bold nav-link text-gray-500 -tracking-[1px] cursor-pointer hover:text-gray-400 transition duration-300 ease-in-out text-base">
          Register <i class="fa-solid fa-user-plus text-sm"></i></a>
        </li>

      </ul>
      }
      <!-- @else {
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#"
            class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
            aria-current="page">Login</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Register</a>
        </li>

      </ul>
      } -->


    </div>
  </div>
</nav>



<!-- <app-auth-modal [accountExist]="false" /> -->

