<section class="bg-gray-200 px-8 py-15">

  <h3 class="text-2xl capitalize">
    get the freshcart app
  </h3>
  <p class="capitalize text-[18px]">
    We'll send you a link to download the app. Open it on your phone to get started!
  </p>

  <div
    class="flex border-s-0 border-e-0 md:flex-nowrap flex-wrap justify-center  border border-gray-300 py-4 my-4 gap-3 md:gap-10">
    <input type="email" class="form-input w-3/4" placeholder="Enter your email" />
    <button class="form-btn bg-nav w-fit text-gray-700">Share App Link</button>
  </div>


  <div class="flex flex-col  md:flex-row justify-between items-center mt-6">
    <div class="flex space-x-2 gap-4">
      <img src="imgs/nav/google-play-store-logo-png.png" alt="Google Play" class="h-10">
      <img src="imgs/nav/apple_store.png" alt="App Store" class="h-10">
    </div>
    <div class="flex space-x-2 mt-4 md:mt-0 gap-4">
      <img src="imgs/nav/Apple_Pay_Logo.wine.svg" alt="Apple Pay" class="h-[30px] w-10 rounded-md">
      <img src="imgs/nav/visa.png" alt="Visa" class="h-[30px] w-10 rounded-md">
      <img src="imgs/nav/mastercard.png" alt="Mastercard" class="h-[30px] w-10 rounded-md">
      <img src="imgs/nav/discover.png" alt="discover" class="h-[30px] w-10 rounded-md">
      <img src="imgs/nav/secure_payment.jpg" alt="Secure Payment" class="h-[30px] w-10 rounded-md">
    </div>
  </div>

</section>